<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/css/main.css" />
    <title>Document</title>
</head>

<body>
    <!-- 
        최종 웹 구조 
        1. 회원가입 ( 메일인증, 구단주명 등록 )
        
        2. 로그인
        
        3. 자신의 기본정보, 이적시장정보, 매치정보 조회
            -1) 이적시장 정보 자세히보기 클릭시 팝업창으로 이미지보여주기

        4. 친구추가 기능
            -1) 쪽지 날리기 

        5. 친구의 기본정보, 이적시장정보, 매치정보 조회 
    -->
    <header id="header" class="alt">
        <section id="banner" style="height:100%;">
            <h1>FIFA ONLINE 4 USER INFO</h1>
            <h2>FIFA ONLINE 4 USER INFO SEARCH</h2>
            <p>NEXON - FIFA ONLINE 4</p>
            <br>
            <br>
            <br>
            <section id="cta">
                <form id="query" action="/member/query" method="GET" novalidate>
                    <input type="text" id="name" name="name" placeholder="닉네임을 입력하시오">
                    <br>
                </form>
                <button value="로그인" onclick="query()" class="button alt">검색</button>
                <button value="회원가입" class="button alt" onclick="location.href = '/join'">회원가입</button>
            </section>
        </section>
    </header>


</body>
<script>
    function query() {
        var name = $("#name").val();
        var jsonData = {
            "name": name,
        }
        if (name == "") {
            alert(" 닉네임을 입력해주세요 ");
        } else {
            console.log(" 왜 되지 ? ");
            document.getElementById("query").submit();
        }
        console.log(name);
    }
</script>

</html>