<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--<p> name is</p><p th:text="${student.id}"></p>-->
    <h1> API 호출 성공 </h1>
    <h2> USER-NICK-NAME : <span th:text="${session.nickname}"></span></h2>
    <h2> USER-LEVEL : <span th:text="${session.level}"></span></h2>
    <h2> 공식경기 1vs1 최고 등급 : <span th:text="${session.divisiontype}"></span> </h2>
</body>

</html>